{% extends 'base.html.twig' %}
{% block body %}
    <h1>Drag the blue boxes into the red box and back</h1>
    <div id="big" ondragenter="return dragEnter(event)"
         ondrop="return dragDrop(event)"
         ondragover="return dragOver(event)"></div>
    <section id="section"  ondragenter="return dragEnter(event)"
             ondrop="return dragDrop(event)"
             ondragover="return dragOver(event)">
        <div class="drag" id="boxA" draggable="true" ondragstart="return dragStart(event)"></div>
        <div class="drag" id="boxB" draggable="true" ondragstart="return dragStart(event)"></div>
    </section>
{% endblock %}
